<style>
    .footer {
        margin-top: 40vh;
        align-items: center;
        line-height: 20px;
        padding-bottom: 10px;
        font-family: 'Josefin Sans', sans-serif;
    }


    .footer .copyright {
        padding-top: 30px
    }

    .footer .credits {
        padding-top: 10px;
        font-size: 13px;
    }

    .credits a {
        text-decoration: none;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Whisper', cursive;
        font-size: 40px;

    }
</style>

<div class="footer text-center bg-light">
    <div class="copyright text-center">
        © Copyright
        <strong><span>Jeff Huria</span></strong>.
        All Rights Reserved
    </div>
    <div class="credits">
        Designed by:
        <br><br>
        <a href="https://github.com/jkllr" target="blank">
            Jeff .K. Huria
        </a>
    </div>
</div>