<style>
    li {
        padding: 0, 5px;
    }

    form {
        padding-left: 5rem;
    }
</style>

<div class="main-nav">
    <nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg">
        <!-- Navbar content -->
        <a class="navbar-brand" style="color: gold;" href="/">{{user.username}}'s Awards</a>
        <a class="navbar-brand" href="/profile/">my profile</a>
        <a class="navbar-brand" href="{% url 'newproject' %}">add a project</a>
        <a class="navbar-brand" href="{% url 'update'  %}">Update Profile</a>
        <a class="navbar-brand" href="/signout/">logout</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav">
                <form class="d-flex input-group w-auto" action="{% url 'search'%}" method="get">
                    {% csrf_token %}
                    <input type="search" class="form-control rounded btn-outline-warning" name="title" placeholder="Search"
                        aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </form>
            </ul>
        </div>
    </nav>
</div>